<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Contest Diary</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">

  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/fonts/flat-icon/flaticon.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div id="content-wrapper">
  


    <section class="team team--bg">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title">LIVE Matches</h2>
            <div class="team__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <p class="page-section__subtitle">Select YOUR Team and begin the FUN!!</p>
          </div>
          <div class="row gutters-80">
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="/static/assets/images/ashes.jpg" alt="">
                  <h2>The Ashes</h2>
                  <p>Austraia v/s England</p>
                </div>
                <div class="caption">
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> -->
                  <a class="button" name='Ashes' href= {{ url_for('team', match= 'ashes' , username = username )}}>Create Team</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="/static/assets/images/wisden.jpeg" alt="">
                  <h2>The Wisden Trophy </h2>
                  <p>West Indies v/s England</p>
                </div>
                <div class="caption">
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> -->
                  <a class="button" name='Wisden' href= {{ url_for('team', match= 'wisden' , username = username )}}">Create Team</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="/static/assets/images/pataudi.jpeg" alt="">
                  <h2>Pataudi Trophy</h2>
                  <p>India v/s England</p>
                </div>
                <div class="caption">
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p> -->
                  <a class="button" name='Pataudi' href=href= {{ url_for('team', match= 'pataudi' , username = username )}}>Create Team</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>






  <script src="/static/assets/jquery/jquery-3.2.1.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="assets/owl-slider/owl.carousel.min.js"></script> -->

  <script>
    $(document).ready(function() {
      
      $('button').click( function(e) {
        $('.collapse').collapse('hide');
      });


      
    });
  </script>
</body>
</html>  

