<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Contest Diary</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">

  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/fonts/flat-icon/flaticon.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div id="content-wrapper">
    <section class="testimonial">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title">TEAM 1</h2>
            <div class="testimonial__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <!-- <p class="page-section__subtitle">Lorem ipsum dolor sit amet, consectetur <a href="#">450</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p> -->
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="accordion-group">
                <div class="collapse in indent" id="one">
                  <div class="collapse__wrapper">
                    <div class="bio bio-1">
                      <h2>Player Name</h2>
                      <p>Match Name</p>
                    </div>
                    <label>
                      <input type="checkbox" class="option-input checkbox" CHECKED />
                      Checkbox
                    </label>
                  </div>
                </div>
                <div class="collapse" id="two">
                  <div class="collapse__wrapper">
                    <div class="bio bio-2">
                      <h2>Sansa Stark</h2>
                      <p>Match Name</p>
                    </div>
                    <a class="button" href="#">Enter Contest</a>
                  </div>
                </div>
                <div class="collapse" id="three">
                  <div class="collapse__wrapper">
                    <div class="bio bio-3">
                      <h2>Khal Drogo</h2>
                      <p>Match Name</p>
                    </div>
                    <a class="button" href="#">Enter Contest</a>
                  </div>
                </div>
                <div class="collapse" id="four">
                  <div class="collapse__wrapper">
                    <div class="bio bio-4">
                      <h2>Jon Snow</h2>
                      <p>Match Name</p>
                    </div>
                    <a class="button" href="#">Enter Contest</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 testimonial-right open-default">
              <button class="button-testimonial button-testimonial-1" data-toggle="collapse" data-target="#one">
                <div class="bio">
                  <h2>Tyrion Lannister</h2>
                  <p>Match Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-2" data-toggle="collapse" data-target="#two">
                <div class="bio">
                  <h2>Sansa Stark</h2>
                  <p>Match Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-3" data-toggle="collapse" data-target="#three">
                <div class="bio">
                  <h2>Khal Drogo</h2>
                  <p>Match Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-4" data-toggle="collapse" data-target="#four">
                <div class="bio">
                  <h2>Jon Snow</h2>
                  <p>Match Name</p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>



  <div id="content-wrapper">

    <section class="testimonial">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title">TEAM 2</h2>
            <div class="testimonial__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <!-- <p class="page-section__subtitle">Lorem ipsum dolor sit amet, consectetur <a href="#">450</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p> -->
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="accordion-group">
                <div class="collapse in indent" id="one">
                  <div class="collapse__wrapper">
                    <div class="bio bio-1">
                      <h2>Player Name</h2>
                      <p>Match Name</p>
                    </div>
                    <a class="button" href="#">Enter Contest</a>
                  </div>
                </div>
                <div class="collapse" id="two">
                  <div class="collapse__wrapper">
                    <div class="bio bio-2">
                      <h2>Sansa Stark</h2>
                      <p>Match Name</p>
                    </div>
                    <a class="button" href="#">Enter Contest</a>
                  </div>
                </div>
                <div class="collapse" id="three">
                  <div class="collapse__wrapper">
                    <div class="bio bio-3">
                      <h2>Khal Drogo</h2>
                      <p>Match Name</p>
                    </div>
                    <a class="button" href="#">Enter Contest</a>
                  </div>
                </div>
                <div class="collapse" id="four">
                  <div class="collapse__wrapper">
                    <div class="bio bio-4">
                      <h2>Jon Snow</h2>
                      <p>Match Name</p>
                    </div>
                    <a class="button" href="#">Enter Contest</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 testimonial-right open-default">
              <button class="button-testimonial button-testimonial-1" data-toggle="collapse" data-target="#one">
                <div class="bio">
                  <h2>Tyrion Lannister</h2>
                  <p>Match Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-2" data-toggle="collapse" data-target="#two">
                <div class="bio">
                  <h2>Sansa Stark</h2>
                  <p>Match Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-3" data-toggle="collapse" data-target="#three">
                <div class="bio">
                  <h2>Khal Drogo</h2>
                  <p>Match Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-4" data-toggle="collapse" data-target="#four">
                <div class="bio">
                  <h2>Jon Snow</h2>
                  <p>Match Name</p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>






  <script src="/static/assets/jquery/jquery-3.2.1.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="assets/owl-slider/owl.carousel.min.js"></script> -->

  <script>
    $(document).ready(function() {
      
      $('button').click( function(e) {
        $('.collapse').collapse('hide');
      });


      
    });
  </script>
</body>
</html>  

